numba
numpy
torch
tqdm
setuptools-rust
more-itertools
openai-whisper
ffmpeg
tiktoken==0.3.3
tk
customtkinter
simphile
spacy
openai
transformers
gradio
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
